In [1]:
%conda install matplotlib -y

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.3.1
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

# ANOVA - practice

## One-way ANOVA

The following are the results of IQ tests conducted by five people from each of the three cities.

Check the one-way ANOVA to see if the IQ averages of the three cities are the same, and if they are different, find which city is different.

In [2]:
iq = pd.DataFrame({'City A': [128, 147, 88, 110, 115], 'City B': [150, 153, 155, 147, 165], 'City C': [99, 102, 88, 155, 128]})
display(iq)

   City A  City B  City C
0     128     150      99
1     147     153     102
2      88     155      88
3     110     147     155
4     115     165     128

In [3]:
import scipy.stats as stats

fvalue, pvalue = stats.f_oneway(iq['City A'], iq['City B'], iq['City C'])
print(fvalue, pvalue)

5.780821917808219 0.017452351669966726

Not all mean of populations are the same!

## Two-way ANOVA

The following is the result of measuring the degree of improvement after performing three different treatments on four patients. (However, it is assumed that there is no association between patient and treatment.)

Check the two-way ANOVA to see if the mean of improvement between patients is the same, and if the mean of improvement between treatments is the same.

In [4]:
health = pd.DataFrame({'Patient': ['Patient 1', 'Patient 2', 'Patient 3', 'Patient 4'], 'Method 1': [0.32, 0.01, 0.43, 0.61], 'Method 2': [0.22, 0, 0.54, 0.43], 'Method 3': [0.39, 0.12, 0.28, 0.52]})
display(health.set_index('Patient'))
health = pd.melt(health, id_vars=['Patient'], value_vars=['Method 1', 'Method 2', 'Method 3'])
health.columns = ['subject', 'method', 'result']
display(health)

           Method 1  Method 2  Method 3
Patient
Patient 1      0.32      0.22      0.39
Patient 2      0.01      0.00      0.12
Patient 3      0.43      0.54      0.28
Patient 4      0.61      0.43      0.52

      subject    method  result
0   Patient 1  Method 1    0.32
1   Patient 2  Method 1    0.01
2   Patient 3  Method 1    0.43
3   Patient 4  Method 1    0.61
4   Patient 1  Method 2    0.22
5   Patient 2  Method 2    0.00
6   Patient 3  Method 2    0.54
7   Patient 4  Method 2    0.43
8   Patient 1  Method 3    0.39
9   Patient 2  Method 3    0.12
10  Patient 3  Method 3    0.28
11  Patient 4  Method 3    0.52

In [5]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('result ~ C(subject) + C(method)', data=health).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

              sum_sq   df          F    PR(>F)
C(subject)  0.377892  3.0  10.869367  0.007716
C(method)   0.004200  2.0   0.181208  0.838663
Residual    0.069533  6.0        NaN       NaN

Regarding the subject, the mean of the population is not the same, but the mean of the method is the same.